.about-content {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;

    .section {
        display: table;
        margin: 0 auto;
        width: 80%;

        .page-title {
            font-size: 60px;
            font-weight: bold;
        }

        .section-title {
            font-size: 40px;
            font-weight: bold;
        }

        .section-subtitle {
            font-size: 25px;
            font-weight: bold;
        }

        .section-paragraph {
            font-size: 18px;
        }

        .section-list {
            padding-left: 15px;
        }

        .section-skill-card {
            height: 75px;
            width: 250px;
            border-radius: 15px;
            transition: background-color 0.2s, transform 0.1s;
            display: flex;
            align-items: center;

            &:hover {
                transform: scale(1.1);

                &.light {
                    background-color: var(--chakra-colors-gray-300);
                }
    
                &.dark {
                    background-color: var(--chakra-colors-gray-600);
                }
            }

            &.light {
                background-color: var(--chakra-colors-gray-200);
            }

            &.dark {
                background-color: var(--chakra-colors-gray-700);
            }

            .icon {
                margin: 20px;
                font-size: 32px;
            }

            .card-label {
                margin-right: 20px;
                font-size: 18px;
                font-weight: bold;
            }
        }

        .section-project-card {
            width: 500px;
            padding: 20px;
            border-radius: 15px;
            transition: background-color 0.2s, transform 0.1s;

            &:hover {
                transform: scale(1.02);

                &.light {
                    background-color: var(--chakra-colors-gray-300);
                }
    
                &.dark {
                    background-color: var(--chakra-colors-gray-600);
                }
            }

            &.light {
                background-color: var(--chakra-colors-gray-200);
            }

            &.dark {
                background-color: var(--chakra-colors-gray-700);
            }

            .card-title {
                font-size: 25px;
                font-weight: bold;
            }

            .card-subtitle {
                font-size: 18px;
                font-weight: 300;
            }

            .card-list {
                .list-item {
                    .label {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}